.profile {
  max-width: 300px;
  border: 1px solid #000000;
  margin: 0 auto;
}
.profile:hover {
  transition: box-shadow, transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px grey, 0px 4px 4px rgba(73, 72, 72, 0.06),
    1px 4px 6px rgba(43, 41, 39, 0.404);
  border-radius: 5px;
  transform: scale(1.05);
}
.description {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
}
.avatar {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.name {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}
.tag {
  margin-bottom: 15px;
  color: #808080;
}
.location {
  color: #808080;
}
.stats {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: #ffffff;
  padding: 0 5px 0 5px;
}

.stats li {
  display: flex;
  flex-direction: column;
  width: 80px;
  text-align: center;
  border: 1px solid #808080;
  padding: 10px 0px;
}

.stats li:hover {
  background-color: #dcdcdc;
  border-radius: 3px;
}
.label {
  margin-bottom: 5px;
  color: #808080;
  font-size: 12px;
}
.quantity {
  color: #000000;
  font-weight: 500;
}
